<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>E - Cell NIT B</title>
    <link rel="stylesheet" href={{url_for('static',filename="style.css")}}>
  </head>
  <body>
   

    <div class="topnav">
      <snap id="heading"><a href="/">E-CELL NITB</a></snap> 
      <a href="/">Home</a>  
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
      <hr>
    </div>
    {% block body %}
    <!-- Body content here -->
    {% endblock %}

  </body>
</html>
